*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/keystore.properties
/app/src/main/res/xml/data_extraction_rules.xml
/app/release/app-release.aab
